In [9]:
import pandas as pd
from scipy.io import arff

In [10]:
data, meta = arff.loadarff('../../data/dna.arff')

In [11]:
df = pd.DataFrame(data)

In [12]:
df.head

<bound method NDFrame.head of         0    1    2    3    4    5    6    7    8    9  ...  171  172  173  \
0     0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  1.0  0.0  0.0
1     0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
2     0.0  0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  ...  0.0  1.0  0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  0.0  0.0  1.0
4     0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  0.0  1.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1995  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  ...  0.0  0.0  1.0
1996  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  1.0  ...  0.0  1.0  0.0
1997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  ...  0.0  0.0  1.0
1998  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  1.0  0.0  0.0
1999  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0

      174  175  176  177  178  179  class
0     0.0  0.0  1.0  1.0  0.0  0.0    3.0
1     1.0  0.0  0.0  0.0  1.0  0.0    3.0
2     0.0  0.0  1.0  0.0  0.0  1.0    3.0
3     0.0  0.0  1.0  0.0  0.0  1.0    1.0
4     0.0  1.0  0.0  1.0  0.0  0.0    2.0
...   ...  ...  ...  ...  ...  ...    ...
1995  1.0  0.0  0.0  1.0  0.0  0.0    2.0
1996  1.0  0.0  0.0  0.0  1.0  0.0    2.0
1997  0.0  0.0  0.0  0.0  0.0  1.0    2.0
1998  1.0  0.0  0.0  0.0  0.0  0.0    2.0
1999  0.0  1.0  0.0  0.0  0.0  0.0    2.0

[2000 rows x 181 columns]>

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Columns: 181 entries, 0 to class
dtypes: float64(181)
memory usage: 2.8 MB

In [14]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,171,172,173,174,175,176,177,178,179,class
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,0.233500,0.265000,0.277000,0.249500,0.263500,0.2440,0.228000,0.270500,0.267500,0.235500,...,0.229500,0.274000,0.273500,0.245500,0.275000,0.237000,0.224000,0.246000,0.303500,2.293500
std,0.423163,0.441444,0.447628,0.432832,0.440641,0.4296,0.419648,0.444329,0.442766,0.424417,...,0.420616,0.446121,0.445867,0.430491,0.446626,0.425349,0.417026,0.430786,0.459884,0.819569
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
75%,0.000000,1.000000,1.000000,0.000000,1.000000,0.0000,0.000000,1.000000,1.000000,0.000000,...,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,3.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.0000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000